          body {padding: 0; margin: 0;} 
          canvas{
              width: 100vw;
              height: 100vh;
          }

          .about{
              position: absolute; 
              height: 100%; 
              width: 25%;
          }

       .overlay {
            position: absolute;
            width: 25%;
            z-index: 100; 
            height: 100%;
            transition: all 0.4s ease-in-out 0s;
        }

          .contact{
              position: absolute; 
              height: 100%; 
              width: 25%; 
              left: 75%; 
          }

        .overtwo {
            position: absolute;
            width: 100%;
            z-index: 100; 
            height: 100%;
            transition: all 0.4s ease-in-out 0s;
        }
          
          a{
            position: absolute; 
            font-family: 'dosis', sans-serif;
            font-size: 1.2em;
            color: azure; 
              top: 50%; 
            text-decoration: none;
            letter-spacing: 1px; 
              transition: .5s; 
              padding-left: 10%;
              z-index: 100; 
              
              -webkit-animation: fadein 2s; 
              -moz-animation: fadein 2s; 
              -ms-animation: fadein 2s; 
              -o-animation: fadein 2s; 
              animation: fadein 2s;
          }
          
          a:hover{
              color: brown;
          }

        .right {
            left: 45%;
        } 

        .about .overlay{
            position: absolute; 
              height: 100%; 
              width: 100%; 
            opacity: 0; 
            background-color: grey; 
}

        .about:hover .overlay{
                opacity: 1; 
}

        .contact .overtwo{
            position: absolute; 
              height: 100%; 
            opacity: 0; 
/*            background-color: #63baba; */
            background-color: darkgray; 
}

        .contact:hover .overtwo{
                opacity: 1; 
}

/*
.design{
    position: absolute; 
    top: 50%;
    text-align: center; 
    font-family: 'dosis', sans-serif;
            font-size: 1.2em;
            color: azure; 
    
}
*/

 @keyframes fadeInRight {
   0% {
      left: 100%; 
   }
   100% {
      left: 80%; 
   }

}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}



@media only screen and (max-width: 950px){
    .contact{
              left: 70%; 
        width: 30%;
          }  
}

@media only screen and (max-width: 750px){
    .contact{
              left: 65%; 
        width: 35%;
          }  
     .contact .overtwo{
         width: 70%;
         left: 30%; 
}
    
@media only screen and (max-width: 600px){
    .contact{
        left: 57%; 
        width: 43%;
          }  
}
    
@media only screen and (max-width: 500px){
    .contact{
        left: 50%; 
        width: 50%;
          }  
    .contact .overtwo{
         width: 50%;
         left: 50%; 
}
}
    
    @media only screen and (max-width: 430px){
    .contact{
        left: 40%; 
        width: 60%;
          }  
}
